@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/*
#027368
#4EF4E4
#05F2DB
#25736B
#04BFAD
*/
:root{
--cor01:#027368;
--cor02:#4EF4E4;
--cor03:#05F2DB;
--cor04:#25736B;
--cor05:#04BFAD;
}
body {
  background-color:var(--cor03);
}

h1 {
  font-family: 'Press Start 2P';
  text-align: justify;
  
}